<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h1>Welcome to abcxyz</h1>
        <div>
            <h3>
                <a th:href="@{/list_users}">List all users</a>
                <br>
                <a th:href="@{/register}">Register</a>
                <br>
                <a th:href="@{/login}">Login</a>
            </h3>
        </div>
    </div>
</body>
</html>