<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Regiter Success</title>
</head>
<body>
<div class="container text-center">
    <h1>Register Success</h1>
    <div>
        <h3>
            <a th:href="@{/login}">Click to log in</a>
        </h3>
    </div>
</div>
</body>
</html>