<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <div>
            <form th:action="@{/logout}" method="get">
                <p>
                  Welcome:  <span sec:authentication="principal.user.firstName"></span>
                    <span sec:authentication="principal.user.lastName"></span>
                    <span sec:authentication="principal.authorities"></span>
                </p>
                <input type="submit" value="Sign Out" />
            </form>
        </div>
        <h1>List of all users</h1>
        <div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>